.card {
  width: 90%;
  max-width: 548px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    border: none;
  }

  @media screen and (min-width: 768px) {
    height: 90px;
  }
  &__clock {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-right: 8px;
  }

  &__timeago {
    &__container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 7px;
    }

    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #606060;
    margin: 0;
  }

  &__text {
    &__container {
      display: flex;
      flex-wrap: wrap;
      width: 440px;
      margin: auto 0 auto 26px;
      @media screen and (max-width: 767px) {
        margin: 0;
        width: 90%;
        margin: 0 auto;
        padding: 5%;
      }
    }
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
  }

  &__like {
    width: 24px;
    height: 22px;
    object-fit: contain;
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 90px;
      border-radius: 6px;
      background: #eeeeee;
      cursor: pointer;
      @media screen and (max-width: 767px) {
        width: 100%;
        height: auto;
        padding: 2% 0;
      }
    }

    &__container > .card__like {
      opacity: 1;
    }
  }
}
