.header {
  height: 114px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);

  &__logo {
    width: 208px;
    height: 28px;
    object-fit: contain;
    font-family: Baskerville;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #3b3b3b;
    margin: 44px 0 44px 150px;
    display: inline-block;

    @media screen and (max-width: 320px) {
      margin: 44px 0;
      text-align: center;
      width: 100%;
    }
  }
}
